<style >
	body{
		text-align: center;      
	}
	.main_content{
		padding-top: 20%;
		font-family: monaco cursive;
		font-display: swap;

	}
</style>
<div class="main_content">
<h1><b><i>THIS IS THE HOME PAGE!!</i></b></h1>
</div>